[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pause = "~=0.3"
selenium = "~=3.141.0"
selenium-requests = "==1.3"
auto-py-to-exe = "*"

[dev-packages]

[requires]
python_version = "3.9"
